<style type="text/css">
  .password-logo {
    max-width: {{ section.settings.logo_width_pass }}px;
    height: auto;
  }
  @media screen and (max-width: 500px){
  .password-logo {
    max-width: {{ section.settings.pass_logo_width_mobile }}px;
  }
  }
  .modal__toggle {
    position: absolute;
    right: 0;
    top: 0;
    margin: 14px;
}
.password-header {
    max-width: 100% !important;
    padding: 5rem 1.5rem 0rem !important;
    margin-bottom: 0rem !important;
}

.banner__box {
    padding: 2rem 3.5rem !important;
}

  .password-header{
    position: relative;
  }

  .modal__content {
    width: 100vw;
    height: 100vh;
}
  @media screen and (max-width: 750px){
    .pass_span_modal{
      display: none;
    }
    .password-link svg {
      margin-right: 0 !important;
      width: 2.5rem !important;
      height: 2.5rem !important;
    }
  }

.custom-button-wrapper {
    position: absolute;
    z-index: 3;
    margin: 14px 0px;
    left: 0;
    top: 0;
}

#close-modal_pop svg{
  width: 20px;
  height: 20px;
  color: {{ section.settings.close_icon_color }} !important;
  margin: 10px;
}
  
#custom-button_pop {
  background-color: {{ section.settings.button_bg_color }};
  color: {{ section.settings.button_text_color }};
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  cursor: pointer;
}


.modal_pop {
  display: none;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 80%;
  max-width: 500px;
  height: fit-content;
  z-index: 999;
  background-color: {{ section.settings.modal_bg_color }};
  border-radius: 30px;
}

.modal-content_pop {
  margin: auto;
  padding: 20px;
  width: 100%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
</style>

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="password-header">
    <div class="custom-button-wrapper">
  <button id="custom-button_pop"><svg style="width: 20px; height: 20px; margin-right: 5px;" fill="{{ section.settings.button_text_color }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M 0 6 L 0 8 L 19 8 L 19 23 L 12.84375 23 C 12.398438 21.28125 10.851563 20 9 20 C 7.148438 20 5.601563 21.28125 5.15625 23 L 4 23 L 4 18 L 2 18 L 2 25 L 5.15625 25 C 5.601563 26.71875 7.148438 28 9 28 C 10.851563 28 12.398438 26.71875 12.84375 25 L 21.15625 25 C 21.601563 26.71875 23.148438 28 25 28 C 26.851563 28 28.398438 26.71875 28.84375 25 L 32 25 L 32 16.84375 L 31.9375 16.6875 L 29.9375 10.6875 L 29.71875 10 L 21 10 L 21 6 Z M 1 10 L 1 12 L 10 12 L 10 10 Z M 21 12 L 28.28125 12 L 30 17.125 L 30 23 L 28.84375 23 C 28.398438 21.28125 26.851563 20 25 20 C 23.148438 20 21.601563 21.28125 21.15625 23 L 21 23 Z M 2 14 L 2 16 L 8 16 L 8 14 Z M 9 22 C 10.117188 22 11 22.882813 11 24 C 11 25.117188 10.117188 26 9 26 C 7.882813 26 7 25.117188 7 24 C 7 22.882813 7.882813 22 9 22 Z M 25 22 C 26.117188 22 27 22.882813 27 24 C 27 25.117188 26.117188 26 25 26 C 23.882813 26 23 25.117188 23 24 C 23 22.882813 23.882813 22 25 22 Z"></path></g></svg>Shipping Status</button>
</div>

<div id="custom-modal_pop" class="modal_pop">
  <div class="modal-content_pop">
    <span id="close-modal_pop" class="close">{% render 'icon-close' %}</span>
    <h1 style="font-size: 24px;">{{ section.settings.collection_name }}</h1>
    <p>{{ section.settings.collection_status }}</p>
  </div>
</div>
<script>
document.getElementById("custom-button_pop").addEventListener("click", function() {
  document.getElementById("custom-modal_pop").style.display = "block";
});

document.getElementById("close-modal_pop").addEventListener("click", function() {
  document.getElementById("custom-modal_pop").style.display = "none";
});
</script>
    {%- if section.settings.logo_pass != blank -%}
      {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
      {{
        section.settings.logo_pass
        | image_url: width: 500
        | image_tag:
          class: 'password-logo',
          alt: logo_alt
      }}
    {%- else -%}
      <h1 class="h2">{{ shop.name }}</h1>
    {%- endif -%}

    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}

    <password-modal>
      <details class="password-modal modal">
        <summary class="modal__toggle" aria-haspopup="dialog">
          <div class="modal__toggle-open password-link link underlined-link">
            {% render 'icon-padlock' %}
            <span class="pass_span_modal">{{ 'general.password_page.login_password_button' | t }}</span>
          </div>
          <div class="modal__toggle-close" aria-hidden="true">
            {% render 'icon-close' %}
          </div>
        </summary>
        <div
          class="modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="password-modal__content" tabindex="-1">
            <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
              {% render 'icon-close' %}
            </button>
            <h2 class="password-modal__content-heading" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">
                  {{- 'general.password_page.login_form_password_placeholder' | t -}}
                </label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      {%- render 'icon-error' %}
                      {{ 'general.password_page.login_form_error' | t -}}
                    </span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="password-button button button--outline">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
            <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>
{%- if section.settings.color_scheme == 'background-1' -%}<hr>{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.logo_header.content"
    },
      {
        "type": "image_picker",
        "id": "logo_pass",
        "label": "Password Logo"
      },
      {
        "type": "range",
        "id": "logo_width_pass",
        "min": 50,
        "max": 300,
        "step": 10,
        "default": 100,
        "unit": "px",
        "label": "PC logo width"
      },
      {
        "type": "range",
        "id": "pass_logo_width_mobile",
        "min": 30,
        "max": 300,
        "step": 10,
        "default": 50,
        "unit": "px",
        "label": "Mobile logo width"
     },
     {
      "type": "header",
      "content": "Shipping Status"
    },
    {
      "type": "checkbox",
      "id": "enable_shipping_status",
      "label": "Enable Shipping Status Button",
      "info": "You can let the buyer know what the current status of the collection or item is (In production / Shipped to buyers / Ready to ship)"
    },
    {
      "type": "text",
      "label": "Collection name",
      "id": "collection_name",
      "default": "Collection name"
    },
    {
      "type": "text",
      "label": "Shipping status",
      "id": "collection_status",
      "default": "Collection in process.."
    },
    {
      "type": "color",
      "label": "Button Text Color",
      "id": "button_text_color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "label": "Button Background Color",
      "id": "button_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Modal Pop Up Background Color",
      "id": "modal_bg_color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "label": "Close Icon Color",
      "id": "close_icon_color",
      "default": "#000000"
    }
  ]
}
{% endschema %}
